<%- include("partials/header"); -%>
<form action="/delete/<%= title %>" method="post">
  <h1><%=title%></h1> 
  <button class="btn btn-danger" type="submit" style="font-size: medium; position: absolute; top: 80px; right: 10px;">Delete</button>
  <h4><%=content%></h4>
    
  </form>

<%- include("partials/footer"); -%>
